*{
  box-sizing: border-box;
}
.navbar{
  padding: 1em;
}
.navbar-collapse{
  padding-left: 53%;
}

.navbar-collapse a{
  margin-left: 1em;
}

.navbar-brand {
  margin-left: 5%;
  font-family: 'Courgette', cursive;
  font-size: 2em;
}

body{
  font-family: 'Kalam', cursive;
}

p{
  font-family: 'Courgette', cursive;
}
/*alto de todas las secciones*/
section{
  height: 100vh;
}

#animation{
	width: 100%;
  padding: 0;
  margin: 0;
  background: #000;
  overflow: hidden;
  margin-top: -2em;
}

.slider{
  height: 0px;
  top : 60%;
  text-align: center;
  position: relative;
  animation: slideColor 10s forwards infinite;
}

.caption{
  line-height: 100px;
  font-size: 60px;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0px 5px 5px rgba(0,0,0,.25);
  margin-left: -300px;
}

.text-box{
  left: 1.5em;
  position: relative;
  top: -0.5em;
}

.text-box div{
  display: inline-block;
  position: absolute;
  top: -200px;
  transform: rotateX(-90deg);
  opacity: 0;
  text-shadow: 0px 5px 5px rgba(0,0,0,.25);
  animation-timing-function: ease;
}

.text-box div:nth-child(1){
  animation: rollDown 10s forwards infinite;
}

.text-box div:nth-child(2){
  animation: rollDown2 10s forwards infinite;
}

.text-box div:nth-child(3){
  animation: rollDown3 10s forwards infinite;
}

@keyframes rollDown {
  0%{
    top: -200px;
    transform: rotateX(-90deg);
  }
  11%{
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  22%{
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  33%{
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown2 {
  33%{
    top: -200px;
    transform: rotateX(-90deg);
  }
  44%{
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  55%{
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  66%{
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown3 {
  66%{
    top: -200px;
    transform: rotateX(-90deg);
  }
  77%{
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  88%{
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  99%{
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

#about{
  background-color: #FFF;
}

#description{
  text-align: center;
  top: 9em;
}

#about h1{
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0.7em;
}
#about p{
  font-size: 1.3em;
  text-align: justify;
}
#about img{
  margin-top: 9em;
  height: 20em;
  width: 20em;
  border-radius: 20em;
}

#skills{
  background-color: #5B4DA8;
}

#works{
  background-color: #FFF;
}

#contact{
  background-color: #616CBF;
}


@media (max-width: 600px) {
  .caption{
    font-size: 40px;
    text-align: center;
    padding-left: 20%;
  }
  .text-box{
    top:-0.8em;
  }
  .navbar-collapse{
    font-size: 1.5em;
  }
  .navbar-brand{
    font-size: 2.5em;
  }
}


@media (max-width: 778px) {
  #about{
    height: auto;
    margin-bottom: 5em!important;
  }
  #about p{
    padding: 0em 0.8em;
  }
  .slider{
    top: 45%!important;
  }
}

@media (max-width: 993px) {
  #about{
    height: auto;
    margin-bottom: 9em;
  }
}